/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Manrope&display=swap")

.home .hero img
  max-width: 450px !important

body
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

code, kbd, .line-number
  font-family: "Fira Code", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

.theme-code-group .theme-code-group__nav .theme-code-group__nav-tab
  color: rgba(255, 255, 255, 0.9) !important

li.theme-code-group__li>button:focus
  outline: none