/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #0189E3
$accentDarkColor = #01B9F6
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

$codeBgLightColor = #282C34
$preTextLightColor = #FFF
$languageTextLightColor = rgba(255, 255, 255, 0.4)
$highlightedBgLightColor = #3e4451
// $lineNumbersLightColor